<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dl</title>
</head>
<body>
    <h1>dl</h1>
    <form method="post">
        <label for="url">URL:</label>
        <input type="text" id="url" name="url" required>
        <button type="submit">ok</button>
    </form>
    
    {% if download_url %}
        <h2>link:</h2>
        <a href="{{ url_for('download_file', filename=download_url) }}">{{ download_url }}</a>
    {% endif %}
</body>
</html>
